#-*- coding:utf-8 -*-

# dropbox auth key
DROPBOX_APP_KEY = ''
DROPBOX_APP_SECRET = ''
DROPBOX_ACCOUNT_EMAIL = ''
# gen APP_SECRET: import os; os.urandom(24)
APP_SECRET_KEY = ''

DOMAIN = 'yourdomain.com'

BLOG_NAME = 'Site title'

DISQUS_SHORTNAME = ''

NAV_ITEMS = ('about',)

TRACKING_CODE = """
<script type="text/javascript">
</script>
"""
