body { font-size:14px; font-family:Arial, Helvetica, sans-serif; margin:0; padding:0; line-height: 1.6; }
body, div, dl, dt, dd, ul, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, input, button, textarea { margin: 0; padding: 0 }
ol, ul { list-style: none; }
h1, h2, h3, h4, h5, h6 { font-size:100%; font-weight:normal; }
h1 { word-wrap:break-word; display:block; font-size:25px; font-weight:bold; color:#494949; margin:0; padding:0 0 15px 0; line-height:1.1; }
h2, h3 { font-size:17px; color:#A2122F; margin:0 0 12px; }
a:link, a:visited { color: #4083A8; text-decoration: none; }
a:hover { color: #205f80; text-decoration: none; }
::selection { background:#F6810B; color:white; text-shadow:none }

#header { border-bottom: 1px solid #E0DEDC; background-color:#E8F3F8 }
#header-inner { width:650px; margin:0 auto; padding: 12px 0; }
#header h1 { margin:0; padding:0; }
#wrap {  padding:20px 0; background-color:#FFFFFD }
#content { width:650px; margin:0 auto; }
#main { float:left; width:100%; }
#aside { float:right; width:230px; }
#footer { min-height:100%; border-top: 1px solid #E0DEDC; background-color:#96FFFE }
#footer-inner { width:650px; margin:0 auto; padding:20px 30px 30px; }
.clearfix::after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

#entries .entry { margin-bottom:20px; }
#entries .entry .title { font-size:17px; }
#entries .entry h1, #entries .entry h2, #entries .entry h3 { font-size:14px; }

.markdown-body { padding:30px; }
.markdown-body > :first-child { margin-top:0!important; }
.markdown-body h1, .markdown-body h2, .markdown-body h3, .markdown-body h4, .markdown-body h5, .markdown-body h6
{ margin:20px 0 10px; padding:0; font-weight:bold; -webkit-font-smoothing:antialiased; cursor:text; position:relative; }
.markdown-body h2 { font-size:24px; border-bottom:1px solid #CCC; color:black; }
.markdown-body, .markdown-body p { font-size:14px; line-height:1.6; }
.markdown-body p, .markdown-body blockquote, .markdown-body ul, .markdown-body ol, .markdown-body dl, .markdown-body table, .markdown-body pre { margin:15px 0; }
.markdown-body ul, .markdown-body ol { padding-left:30px; }
.markdown-body ul li { line-height:1.6; }
