body { font-size:14px; font-family:'Helvetica Neue', 'Hiragino Sans GB', Arial, Helvetica, sans-serif; max-width:47em; margin:0 auto; padding:0; line-height: 1.6; color:#777 }
div, dl, dt, dd, ul, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, input, button, textarea { margin: 0; padding: 0 }
h1, h2, h3, h4, h5, h6 { font-size:100%; font-weight:normal; }
h1 { word-wrap:break-word; display:block; font-size:2em; font-weight:bold; color:#494949; margin:0; padding:0 0 15px 0; line-height:1.1; }
h2, h3 { font-size:17px; color:#A2122F; margin:0 0 7px; }
ul, ol { list-style-type:none; display:block; margin:0 }
a:link, a:visited { color: #4083A8; text-decoration: none; }
a:hover { color: #205f80; text-decoration: none; }
::selection { background:#F6810B; color:white; text-shadow:none }
.clearfix::after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

#header { }
#header-inner { padding: 12px 0; border-bottom: 1px solid #E0DEDC; }
#header h1 { margin:0; padding:0; }
#wrap {  padding:20px 0;  }
#content { }
#main { float:left; width:100%; }
#aside { float:right; width:230px; }
#footer { min-height:100%; }
#footer-inner { padding:20px 0; border-top: 1px solid #E0DEDC; }

.entry { margin-bottom:56px }
.entry .header { color:#888 }
.entry .header h1 { font-size:1.8em; font-weight:normal; color:#A2122F }
.entry:after { content:"â—"; font-size:14px; color:#BEBEBE; margin:0 330px; text-shadow: 0 1px 0 white }
.entry .footer, .entry .footer a { color:#848484 }
.entry .footer .tags { float:left }
.entry .footer .tags a { margin-left:7px }
.entry .footer .comments-count { float:right }

.markdown-body { padding:30px 0; }
.markdown-body > :first-child { margin-top:0!important; }
.markdown-body h1, .markdown-body h2, .markdown-body h3, .markdown-body h4, .markdown-body h5, .markdown-body h6
{ margin:20px 0 10px; padding:0; font-weight:bold; -webkit-font-smoothing:antialiased; cursor:text; position:relative; }
.markdown-body h3 { font-size:18px; color:#333 }
.markdown-body h2 { font-size:17px; border-bottom:1px solid #CCC; color:#333 }
.markdown-body, .markdown-body p { line-height:1.6; }
.markdown-body p, .markdown-body blockquote, .markdown-body ul, .markdown-body ol, .markdown-body dl, .markdown-body table, .markdown-body pre { margin:15px 0; }
.markdown-body ul, .markdown-body ol { padding-left:30px; }
.markdown-body ul li { line-height:1.6; }
.markdown-body .highlight pre, .markdown-body pre { background-color:#F8F8F8; border:1px solid #CCC; line-height:19px; overflow:auto; padding:6px 10px; border-radius:3px }
.markdown-body code, .markdown-body tt { margin:0 2px; padding:0 5px; white-space:nowrap; border:1px solid #EAEAEA; background-color:#F8F8F8; border-radius:3px }
.markdown-body pre > code { margin:0; padding: 0; white-space:pre; border:none; background:transparent }
.markdown-body img { max-width:100% }
.markdown-body .photo { background:none; border:none; color:transparent }
.markdown-body .center { text-align: center }
