<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link rel="stylesheet" href="${url_for('static', filename='chili.css')}">
</head>
<body>
  ${self.header()}
  ${self.content()}
  ${self.footer()}
</body>
</html>

<%def name="header()">
<div id="header">
  <div id="header-inner" class="clearfix">
    <a href="/"><h1>Zhang Chi的日志</h1></a>
  </div>
</div>
</%def>

<%def name="content()">
<div id="wrap">
  <div id="content" class="clearfix">
    <div id="main">
      ${self.main()}
    </div>
    <div class="mfooter" style="text-align:right; clear:both;">
    </div>
  </div>
</div>
</%def>

<%def name="main()"></%def>

<%def name="footer()">
<div id="footer">
  <div id="footer-inner">
    This blog is owned by <a href="https://twitter.com/#!/ClvrObj" target="_blank">@ClvrObj</a><!-- based on <a href="https://github.com/clvrobj/chili" title="A self-made Python blog framework" target="_blank">Chili</a>-->
  </div>
</div>
</%def>
