<%inherit file="base.html"/>

<%def name="page_title()">${title}</%def>

<%def name="main()">
<div class="entry">
  <div class="header">
    <h1>${title}</h1>
    <div class="created-time">${created_at}</div>
  </div>
  <div class="markdown-body">
    ${content | n}
  </div>
  <div class="footer clearfix">
    % if tags:
    ${tags_block(tags)}
    % endif
  </div>
  <div class="fin">●</div>
</div>
% if is_comment:
${comments_block()}
% endif
</%def>

<%def name="tags_block(tags=[])">
  <div class="tags">
    Tags:
    % for tag in tags:
    <a href="/tag/${tag}.html">${tag}</a>
    % endfor
  </div>
</%def>

<%def name="comments_block()">
  <%!
      from config import DISQUS_SHORTNAME
  %>
  % if DISQUS_SHORTNAME:
  <div id="disqus_thread"></div>
  <script type="text/javascript">
    var disqus_shortname = '${DISQUS_SHORTNAME}';
    (function() {
    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
    dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
  % endif
</%def>
