<%inherit file="base.html"/>

<%def name="page_title()">${title}</%def>

<%def name="main()">
<div class="entry">
  <div class="header">
    <h1>${title}</h1>
    <div class="created-time">${created_at}</div>
  </div>
  <div class="markdown-body">
    ${content | n}
  </div>
  <div class="footer clearfix">
    % if tags:
    ${tags_block(tags)}
    % endif
    <div class="share-block">
      <a href="https://twitter.com/share" class="twitter-share-button" data-dnt="true" data-count="none">Tweet</a>
    </div>
    <div class="prev-next">
      % if prev_link:
      <div class="prev">
        <strong>Previous:</strong> <a href="${prev_link}">${prev_title}</a>
      </div>
      % endif
      % if next_link:
      <div class="next">
        <strong>Next:</strong> <a href="${next_link}">${next_title}</a>
      </div>
      % endif
    </div>
  </div>
  <div class="fin">●</div>
</div>
% if is_comment:
${comments_block()}
% endif
</%def>

<%def name="tags_block(tags=[])">
  <div class="tags">
    Tags:
    % for tag in tags:
    <a href="/tag/${tag}.html">${tag}</a>
    % endfor
  </div>
</%def>

<%def name="comments_block()">
  <%!
      from config import DISQUS_SHORTNAME
  %>
  % if DISQUS_SHORTNAME:
  <div id="disqus_thread"></div>
  <script type="text/javascript">
    var disqus_shortname = '${DISQUS_SHORTNAME}';
    (function() {
    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
    dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
  % endif
</%def>

<%def name="bottom_script()">
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</%def>
