<%inherit file="/base.html"/>

<%! from global_config import BLOG_NAME, PAGE_LINK_PATTERN %>

<%def name="title()">${BLOG_NAME.decode('utf8')}</%def>

<%def name="main()">
<div id="entries">
  % for e in entries:
  ${self.entry(e)}
  % endfor
</div>
${self.pagination()}
</%def>

<%def name="entry(e)">
  <div class="entry">
    <div class="header">
      <h1><a href="${e['link']}">${e['title']}</a></h1>
      <div class="created-time">${e['created_at']}</div>
    </div>
    <div class="markdown-body">
      ${e['content'] | n}
    </div>
    <div class="footer clearfix">
      % if e['tags']:
      ${tags_block(e['tags'])}
      % endif
      % if e['is_comment']:
      <div class="comments-count">
        <a href="${e['link']}#disqus_thread">comments</a>
      </div>
      % endif
    </div>
    <div class="fin">●</div>
  </div>
</%def>

<%def name="tags_block(tags=[])">
  <div class="tags">
    Tags:
    % for tag in tags:
    <a href="/tag/${tag}.html">${tag}</a>
    % endfor
  </div>
</%def>

<%def name="pagination()">
<div class="pagination">
  % if prev_page_id:
  <a class="prev" href="${PAGE_LINK_PATTERN % prev_page_id}">← Older</a>
  % endif
  <a href="/archives.html">- Archives -</a>
  % if next_page_id:
  % if next_page_id == 1:
  <a class="next" href="/">Newer →</a>
  % else:
  <a class="next" href="${PAGE_LINK_PATTERN % next_page_id}">Newer →</a>
  % endif
  % endif
</div>
</%def>

<%def name="bottom_script()">
<script type="text/javascript">
  <%!
      from global_config import DISQUS_SHORTNAME
  %>
  var disqus_shortname = '${DISQUS_SHORTNAME}';
  (function () {
  var s = document.createElement('script'); s.async = true;
  s.type = 'text/javascript';
  s.src = '//' + disqus_shortname + '.disqus.com/count.js';
  (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
  }());
</script>
</%def>
