<%inherit file="/base.html"/>

<%def name="page_title()">Tag: ${tag}</%def>

<%def name="main()">
<h2>Tag: ${tag}</h2>
<div id="entries">
  % for e in entries:
  <div class="entry">
    <div class="header">
      <h2><a href="${e['link']}">${e['title']}</a></h2>
      <div class="created-time">${e['created_at']}</div>
    </div>
    <div class="markdown-body">
      ${e['content'] | n}
    </div>
    <div class="footer">
      % if e['tags']:
      ${tags_block(e['tags'])}
      % endif
    </div>
  </div>
  % endfor
</div>
</%def>

<%def name="tags_block(tags=[])">
  <div class="tags">
    Tags:
    % for tag in tags:
    <a href="/tag/${tag}.html">${tag}</a>
    % endfor
  </div>
</%def>
