<%inherit file="/base.html"/>

<%def name="page_title()">Tag: ${tag}</%def>

<%namespace name="home" file="home.html"/>

<%def name="main()">
<h1>Tag: ${tag}</h1>
<div id="entries">
  % for e in entries:
  ${home.entry(e)}
  % endfor
</div>
</%def>

<%def name="bottom_script()">
<script type="text/javascript">
  <%!
      from config import DISQUS_SHORTNAME
  %>
  var disqus_shortname = '${DISQUS_SHORTNAME}';
  (function () {
  var s = document.createElement('script'); s.async = true;
  s.type = 'text/javascript';
  s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
  (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
  }());
</script>
</%def>
